In [1]:
import pandas as pd

In [2]:
def calc_performance(times, df):
    performance_df = []
    for i in times:
        
        time = i
        vitorias_time = df[(df['vencedor'] == time) & (df['mandante'] == time)].shape[0]
        derrotas_time = df[(df['vencedor'] == df['visitante']) & (df['mandante'] == time)].shape[0]
        empates_time = df[(df['vencedor'] == '-') & (df['mandante'] == time)].shape[0]
        pconq = (vitorias_time * 3) + empates_time
        ptot = (vitorias_time + derrotas_time + empates_time) * 3
        aproveitamento = pconq / ptot * 100
        new_row = {'time': time, 'vitorias': vitorias_time, 'derrotas': derrotas_time, 'empates': empates_time, 'aproveitamento':aproveitamento}
        performance_df.append(new_row)
        
    performance_df = pd.DataFrame(data = performance_df, columns = ['time', 'vitorias', 'derrotas', 'empates', 'aproveitamento'])
    performance_df = performance_df.sort_values(by = 'aproveitamento', ascending=False)
    return performance_df

In [ ]:
times_sp = ['Sao Paulo', 'Santos', 'Palmeiras', 'Corinthians']
times_rj = ['Fluminense', 'Flamengo', 'Botafogo-RJ', 'Vasco']
times_rs = ['Gremio', 'Internacional']
times_ce = ['Ceara', 'Fortaleza']
times_mg = ['Atletico-MG', 'Cruzeiro']
times_ba = ['Bahia', 'Vitoria']
times = times_mg

In [4]:
df = pd.read_csv(r'/home/otavio/Documents/studies/projects/football_playground/Datasets/campeonato-brasileiro-full.csv')
df['data'] = pd.to_datetime(df['data'], dayfirst=True)
df = df[df['mandante'].isin(times)]
df = df[df['visitante'].isin(times)]

In [5]:
df_pre_mandante = df[df['data'] < '04/04/2016']
df_pos_mandante = df[df['data'] > '04/04/2016']

In [6]:
performance_pre_df = calc_performance(times, df_pre_mandante)
performance_pos_df = calc_performance(times, df_pos_mandante)

In [7]:
performance_pre_df

          time  vitorias  derrotas  empates  aproveitamento
1     Cruzeiro         5         4        3       50.000000
0  Atletico-MG         4         8        0       33.333333

In [8]:
performance_pos_df

          time  vitorias  derrotas  empates  aproveitamento
0  Atletico-MG         4         2        0       66.666667
1     Cruzeiro         0         2        4       22.222222

In [9]:
df_pos_mandante = df_pos_mandante[df_pos_mandante['mandante'] == 'Internacional']

In [10]:
df_pos_mandante

Empty DataFrame
Columns: [ID, rodata, data, hora, mandante, visitante, formacao_mandante, formacao_visitante, tecnico_mandante, tecnico_visitante, vencedor, arena, mandante_Placar, visitante_Placar, mandante_Estado, visitante_Estado]
Index: []